
<div class="bg-primary bg-cover pb-20">
    <div class="container mx-auto">
        <%= render "include/logo" %>
        <%= render "include/navbar" %>
        <%= render "feed/news" %>
        <%= render "feed/tracks" %> 
    </div>
</div>

  
<%= javascript_import_module_tag "custom/feed" %>

<audio data-key="104" src="<%= asset_path('hihat.wav') %>"></audio>
<audio data-key="105" src="<%= asset_path('kick.wav') %>"></audio>
<audio data-key="100" src="<%= asset_path('openhat.wav') %>"></audio>
<audio data-key="101" src="<%= asset_path('boom.wav') %>"></audio>
<audio data-key="102" src="<%= asset_path('ride.wav') %>"></audio>
<audio data-key="97" src="<%= asset_path('snare.wav') %>"></audio>
<audio data-key="98" src="<%= asset_path('tom.wav') %>"></audio>
<audio data-key="99" src="<%= asset_path('tink.wav') %>"></audio>
<audio data-key="65" src="<%= asset_path('c3.mp3') %>"></audio>
<audio data-key="81" src="<%= asset_path('c4.mp3') %>"></audio>
<audio data-key="87" src="<%= asset_path('c5.mp3') %>"></audio>
<audio data-key="90" src="<%= asset_path('d3.mp3') %>"></audio>
<audio data-key="83" src="<%= asset_path('d4.mp3') %>"></audio>
<audio data-key="88" src="<%= asset_path('d5.mp3') %>"></audio>
<audio data-key="69" src="<%= asset_path('e3.mp3') %>"></audio>
<audio data-key="68" src="<%= asset_path('e4.mp3') %>"></audio>
<audio data-key="67" src="<%= asset_path('e5.mp3') %>"></audio>
<audio data-key="82" src="<%= asset_path('f3.mp3') %>"></audio>
<audio data-key="70" src="<%= asset_path('f4.mp3') %>"></audio>
<audio data-key="86" src="<%= asset_path('f5.mp3') %>"></audio>
<audio data-key="84" src="<%= asset_path('g3.mp3') %>"></audio>
<audio data-key="71" src="<%= asset_path('g4.mp3') %>"></audio>
<audio data-key="66" src="<%= asset_path('g5.mp3') %>"></audio>
<audio data-key="89" src="<%= asset_path('a3.mp3') %>"></audio>
<audio data-key="72" src="<%= asset_path('a4.mp3') %>"></audio>
<audio data-key="78" src="<%= asset_path('a5.mp3') %>"></audio>
<audio data-key="85" src="<%= asset_path('b3.mp3') %>"></audio>
<audio data-key="74" src="<%= asset_path('b4.mp3') %>"></audio>
<audio data-key="188" src="<%= asset_path('b5.mp3') %>"></audio>
<audio data-key="79" src="<%= asset_path('bell.wav') %>"></audio>
<audio data-key="73" src="<%= asset_path('bell2.flac') %>"></audio>
<audio data-key="80" src="<%= asset_path('bell3.wav') %>"></audio>
<audio data-key="75" src="<%= asset_path('snow.wav') %>"></audio>
<audio data-key="49" src="<%= asset_path('B.mp3')%>"></audio>
<audio data-key="50" src="<%= asset_path('C.mp3')%>"></audio>
<audio data-key="51" src="<%= asset_path('D.mp3')%>"></audio>
<audio data-key="52" src="<%= asset_path('E.mp3')%>"></audio>
<audio data-key="53" src="<%= asset_path('F.mp3')%>"></audio>
<audio data-key="54" src="<%= asset_path('G.mp3')%>"></audio>
<audio data-key="55" src="<%= asset_path('H.mp3')%>"></audio>
<audio data-key="56" src="<%= asset_path('I.mp3')%>"></audio>
<audio data-key="76" src="<%= asset_path('CARILLION.mp3')%>"></audio>
<audio data-key="77" src="<%= asset_path('Kitten.mp3')%>"></audio>
<audio data-key="190" src="<%= asset_path('santa.mp3')%>"></audio>
<audio data-key="191" src="<%= asset_path('fire.wav')%>"></audio>
<audio data-key="57" src="<%= asset_path('voice(1).ogg')%>"></audio>
<audio data-key="48" src="<%= asset_path('voice(2).ogg')%>"></audio>
<audio data-key="223" src="<%= asset_path('bubble.wav')%>"></audio>
