<div class="flex items-center justify-center flex-col">
<h1 class="text-7xl font-custom bold pt-16 uppercase">Editer mon profil</h1>  
  
<%= form_with(model: @settings,class:"pt-10 flex flex-col") do |f|%>
<%= f.label :pseudo, class:"text-4xl"%>
<%= f.text_field :pseudo, class:"h-20 text-four text-2xl bg-five rounded-lg text-four mt-2"%>
<%= f.label :description, class:"text-4xl mt-8" %>
<%= f.text_area :description, class:"h-40 text-four text-2xl bg-five rounded-lg text-four mt-2", cols: 40 %>
<%= f.label :avatar, class:"text-4xl mt-8"%>
<%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', placeholder:"Update your profil picture",class:"w-full text-xl text-slate-500
file:mr-4 file:py-2 file:px-4
file:rounded-full file:border-0
file:text-3xl file:font-light file:text-five
hover:file:bg-five hover:file:text-four duration-500 mt-8" %>
<div class="flex justify-center">
  <%= f.submit "Send",class:"hover:bg-four text-primary hover:text-primary font-light border-primary border-4 h-20 w-60 hover:cursor-pointer duration-100 mt-8 flex justify-center"%>
</div>
lg (1024px)
<% end %>

</div>
