<div class="mt-56">
  <div class="h-96 bg-third w-full rounded-tl-3xl rounded-tr-3xl relative">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar,class:"h-64 w-64 aspect-square bg-secondary rounded-xl absolute -bottom-32 left-10 lg:left-40" %>
    <% end %>
  </div>
  <div class="h-96 bg-five ">
    <div class="flex justify-end ">
      <a href="<%= settings_path%>">
        <button class="flex mt-4 mr-4 p-9 items-center rounded-md h-11 text-2xl font-custom bg-secondary">
          Editer mon profil
        </button>
      </a>
      <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete, class:"flex mt-4 mr-4 p-9 items-center rounded-md h-11 text-2xl font-custom bg-secondary" %>

    </div>
    <div class="lg:mx-44 container">
      <p class="text-3xl mt-16 ml-10 text-four lg:ml-0">
        <%= current_user.pseudo %>
      </p>
      <p class="text-3xl mt-8 text-four w-4/5 ml-10 lg:ml-0">
        <%= current_user.description %>
      </p>
    </div>
  </div>
  <div class="min-h-full bg-secondary rounded-br-3xl rounded-bl-3xl">
    <%= render "tracks"%>
  </div>
</div>