<div class="bg-primary">
    <div class="container mx-auto">
        <%= render "include/logo" %>
        <%= render "include/navbar" %>
        <%= render "profil/profil" %>
    </div>
</div>









<!-- <a href="<%= settings_path%>">Modifer le profil</a> -->



<!-- <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar %>
<% end %> -->
<!-- 
<% @tracks.each do |i| %>
    <p class="title">Title : <%= i.title %></p>
<% end %> -->